# Veritabanı
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sifreniz
DB_NAME=valorant_site

# JWT
JWT_SECRET=gizli_anahtar_buraya

# Discord Bot
DISCORD_BOT_TOKEN=discord_bot_tokeniniz
DISCORD_GUILD_ID=sunucu_id
DISCORD_INVITE_CHANNEL_ID=kanal_id

# Sunucu
PORT=3000
